* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

a,
a:visited {
  text-decoration: none;
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.header {
  background-image: url(../img/Layer_1.png);
  background-size: cover;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
}

.bg-blue {
  background-image: url(../img/Layer_1.png);
}

.header_top_menu a {
  font-size: 13px;
  line-height: 161%;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.74);
}

.header_top {
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
          box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
}

.header_top_burger {
  background-color: rgba(255, 255, 255, 0.5);
}

.header_top_menu_nav a {
  padding-left: 65px !important;
  padding-right: 0 !important;
}

.header_title h1 {
  font-size: 65px;
  line-height: 109.23%;
  font-weight: 700;
  color: white;
  font-family: "OpenSans", sans-serif;
}
.header_title p {
  font-size: 22px;
  line-height: 151%;
  font-weight: 400;
  text-transform: none;
}

.link_1 {
  background-color: #e84545;
  border-radius: 1px;
  border: 1px solid #e84545;
  padding: 15px 55px;
  font-size: 13px;
  line-height: 161%;
  font-weight: 400;
}

.header_link {
  padding-bottom: 107px;
}

@media (min-width: 768px), (max-width: 992px) {
  .header_title h1 {
    font-size: 45px;
    line-height: 1.3;
    font-weight: 700;
  }
  .header_title p {
    font-size: 20px;
    line-height: 141%;
    font-weight: 400;
  }
}
@media (min-width: 992px) {
  .offcanvas {
    visibility: visible;
    position: relative;
    background: none;
    border: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
@media (max-width: 992px) {
  .header_top_menu a {
    font-size: 20px;
    line-height: 121%;
    font-weight: 400;
  }

  .offcanvas {
    width: 250px !important;
  }

  .offcanvas-start-lg {
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@media (max-width: 768px) {
  .header_title h1 {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
  }
  .header_title p {
    font-size: 18px;
    line-height: 111%;
    font-weight: 400;
  }
}
.features_item h3 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d3033;
  padding: 28px 0;
}
.features_item p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #6c7279;
}

.features_icon {
  width: 80px;
  height: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto;
}

.icon1 {
  background-image: url(../img/icon/icon_1.svg);
  background-size: 60px 60px;
}

.icon2 {
  background-image: url(../img/icon/icon_2.svg);
  background-size: 73px 60px;
}

.icon3 {
  background-image: url(../img/icon/icon_3.svg);
  background-size: 41px 60px;
}

.icon4 {
  background-image: url(../img/icon/icon_4.svg);
  background-size: 56px 60px;
}

.icon5 {
  background-image: url(../img/icon/icon_5.svg);
  background-size: 72px 60px;
}

.icon6 {
  background-image: url(../img/icon/icon_6.svg);
  background-size: 79px 60px;
}

.header_top_burger {
  background-color: rgba(255, 255, 255, 0.5);
}

.works_item_photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -webkit-transition: 1s;
  transition: 1s;
}

.works_item {
  height: auto;
  overflow: hidden;
}

.image_mask {
  position: relative;
  z-index: 2;
}

.image_mask:hover .works_item_text {
  display: block;
}

.works_item_text {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(232, 69, 69, 0.9);
  top: 0;
  left: 0;
  z-index: 3;
  vertical-align: middle;
  display: none;
}

.works_item_text_1 {
  padding-top: 30%;
  padding-bottom: 10px;
}

.works_item_text_1,
.works_item_text_2 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  vertical-align: middle;
  margin: 0px !important;
}

.works_item_text_2 {
  text-transform: none;
  font-weight: 400;
}

@media (max-width: 768px) {
  .works_item_text_1,
.works_item_text_2 {
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
  }
}
@media (max-width: 528px) {
  .works_item_text_1 {
    padding-top: 5%;
  }

  .image_mask:hover {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
  }
  .image_mask:hover p {
    font-size: 11px;
  }
}
.team_cards_pii h3 {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  color: #2d3033;
}
.team_cards_pii p {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #e84545;
}

.team_cards_social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.team_cards_social_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 16px;
  color: #c6cacc;
  border: 1px solid #e8ecee;
  width: 40px;
  height: 40px;
  margin-right: 4px;
}
.team_cards_social_list li a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 100%;
}

.face,
.twit,
.linkedin {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.face:hover {
  color: white;
  background-color: #385490;
}

.twit:hover {
  color: white;
  background-color: #1c99e6;
}

.linkedin:hover {
  color: white;
  background-color: #108ac9;
}

.team_cards_description_text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #6c7279;
  margin-right: 2px;
}

@media (max-width: 768px) {
  .team_cards_photo img {
    border-radius: 50%;
  }

  .team_cards {
    text-align: center !important;
  }

  .team_card_photo_and_pii {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 20px;
  }
  .team_card_photo_and_pii div {
    width: 50%;
  }
  .team_card_photo_and_pii img {
    width: 75%;
  }
  .team_card_photo_and_pii .team_cards_pii {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .team_cards_description_text {
    font-size: 16px;
    text-align: justify !important;
  }
}
@media (max-width: 575px) {
  .team_cards_description_text {
    padding: 0 20px !important;
  }

  .team_cards_social_list {
    padding: 0 0 30px 20px !important;
  }
}
.carousel_button {
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
}

.carousel-caption {
  top: 10%;
  left: 10%;
  text-align: left;
  color: #fff;
  text-align: left;
  max-height: 60%;
}
.carousel-caption p {
  font-size: calc(16px + 18 * (100vw / 1700));
  line-height: 1.3;
  font-weight: 400;
  font-family: "Cardo", serif;
  font-style: italic;
  color: #ffffff;
}
.carousel-caption h4 {
  font-size: 13px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .clients_photo,
.clients_carousel {
    width: 100%;
  }
}
/*@media (max-width: 380px) {
  .carousel-indicators {
    display: none;
  }
}*/
.download_title h2 {
  font-size: 28px;
  line-height: 21px;
  font-weight: 300;
  color: #2d3033;
}
.download_title p {
  font-size: 13px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2d3033;
}

.download_link {
  text-transform: uppercase;
  color: #ffffff;
}
.download_link a {
  padding: 16px 81px;
}

@media (max-width: 767px) {
  .download_title h2 {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 300;
  }
  .download_title p {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: inherit;
  }

  .download_link a {
    padding: 13px 40px;
  }
}
.footer_top_contain h4 {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.footer_top_contain p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.footer_top {
  background-color: #3a3e64;
}

.footer_bottom {
  background-color: #313454;
}
.footer_bottom p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #808080;
}
.footer_bottom p .footer_copyright_text_1 {
  color: #e84545;
}
.footer_bottom p .footer_copyright_text_2 {
  color: #ffffff;
}

.social_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social_items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  font-size: 16px;
  color: #c6cacc;
  border: 1px solid #e8ecee;
  width: 40px;
  height: 40px;
  margin-right: 4px;
}
.social_items li:last-child {
  margin-right: 1px;
}
.social_items a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 100%;
}

@media (max-width: 575px) {
  .footer_top_contain {
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .footer_top_location,
.footer_top_social,
.footer_top_about {
    width: 60%;
    padding-bottom: 20px;
  }
}
body {
  font-family: "Raleway", sans-serif;
  line-height: 1;
}

.container {
  margin: 0 auto;
}

a {
  color: inherit !important;
}